<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotesPustak</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/logoImage.png">


    <<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



  </head>
  <body>


    <div id="headerDiv">
        <img src="/images/logoImage.png" alt="logoImage" id="headerLogoImage" />
        <h5 id="mainHeaderText" class="jersey-15-regular">NotesPustak</h5>
      </div>
  
      <div id="formDiv">
        <form action="/create" method="post" id="mainForm">
          <input
            type="text"
            name="title"
            id="fileNameInput"
            placeholder="Title"
          />
          <textarea
            name="content"
            id="detailsInput"
            placeholder="Type here..."
          ></textarea>
  
          <input type="submit" value="Save" id="saveButton">
  
        </form>
      </div>
  
      <div id="cardsDiv">
         
        <% if(files.length == 0){ %>
          <div id="emptyCardsDisplay">
            No Cards Yet, Create One
          </div>
          <%} else {%>
            <%files.forEach((val) => { %>
              <div class="card">
                <h6 class="cardTitle">
                  <%=val.replace('.txt', '')%>
                </h6>

                <div id="cardSubDiv">

                  <a href="/get/<%=val%>" class="getButton">Load More</a>
                  <a href="/delete/<%=val%>" id="trashAnchor"><i class="fa-solid fa-trash" id="trashIcon"></i></a>
                  

                </div>
              </div>

            <%})%>
          <%}%>

      </div>
  
      <div id="footerDiv">
        <a href="https://github.com/devansh-bajpai" class="footerLinks">
          <img src="/images/githubLogo.png" alt="githubLogo" id="githubLogo" />
          GitHub</a
        >
        <a href="https://youtube.com" class="footerLinks">
          <img src="/images/linkedInLogo.png" alt="linkedinLogo" id="linkedinLogo" />
          LinkedIn</a
        >
      </div>
  

  </body>
</html>
